resources/devices.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="devices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="origin"/>
                            <xs:element type="xs:float" name="price"/>
                            <xs:element name="type">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:boolean" name="peripheral"/>
                                        <xs:element type="xs:string" name="energy"/>
                                        <xs:element type="xs:boolean" name="cooler"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="critical"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>